.button {
  @include flex(center, center);
  width: 100%;
  
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  color: $btnTextColor;
}

.button-primary {


  border: 2px solid $btnBorderColorPrimary;
  border-radius: 10px;


  &:hover {
    background: linear-gradient(
      262.02deg,
      rgba(242, 213, 65, 0.8) 3.53%,
      rgba(255, 236, 88, 0.8) 100%
    );
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7),
      4px 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.button-secondary {
  &:hover {
  }
}

.btn {
}

.btn-primary {
  &:hover {
  }
}

.btn-secondary {
  &:hover {
  }
}
