.button {
	font-weight: 700;
	font-size: 20px;
	line-height: 106.19%;
	text-align: center;
	letter-spacing: 0.055em;
	text-transform: uppercase;

	position: relative;

	&::before {
		@include pseudo;
		@include wh(100%, 3px);
		@include pos (absolute, $bottom: -10px, $left: 50%);
		transform: translateX(-50%);
		border-radius: 5px;
	}
}

.button-primary {


	&::before {

		background: linear-gradient(94.03deg, #0EDAC5 8%, #00211E 151.99%);
	}


	&:hover {
		color: $accentColor;
		&::before {
			background: linear-gradient(94.03deg, #E8E8E8 8%, #060606 151.99%);
		}



	}
}

.button-secondary {
	
	&::before {
		background: linear-gradient(94.03deg, #E8E8E8 8%, #060606 151.99%);
	}


	&:hover {
		&::before {
			background: linear-gradient(94.03deg, #0EDAC5 8%, #00211E 151.99%);
		}

	}
}

.btn {
	@include flex (center, center);
	
	
height: 70px;

border-radius: 15px;

font-weight: 500;


}

.btn-primary {
	background: linear-gradient(180deg, #79DDCF 0%, #05A696 100%);
	color: $btnTextColor;
	font-size: 25px;
line-height: 30px;
width: 325px;
&:hover{
	
border: 2px solid $mainColor;


font-size: 22px;
line-height: 26px;

color: $mainColor;
background: transparent;
}
}

.btn-secondary {

border: 2px solid $mainColor;

font-size: 22px;
line-height: 26px;

&:hover{
	background: linear-gradient(180deg, #79DDCF 0%, #05A696 100%);
	color: $btnTextColor;
	font-size: 25px;
line-height: 30px;

}

color: $mainColor;



}