.open {
  .header {
    width: 100%;
    height: 116px;
    overflow: hidden;
    position: fixed;

    z-index: 9999;
    &__span {
      line-height: 10px;
    }
    // .header__wrapper
    &__wrapper {
      gap: 8px;
    }
    // .header__top
    &__top {
      padding-top: 0;
    }
  }
  .nav-menu {
	padding: 18px 0 10px;
	position: relative;
	&::before{
		@include pseudo;
		@include wh (112%, 1px);
@include pos (absolute, $top: 10px, $left: 50%);
transform: translateX(-50%);
		background-color: $mainColor;
	}
  
    // .nav__list
    &__list {
      @include flex(center, center, wrap);

      row-gap: 2px;
      column-gap: 15px;
    }
    // .nav__item
    &__item {
    }
    // .nav__link
    &__link {
    }
  }
}
