.logo {
	@include flex($align-items: center);

	// .logo__img
	&__img {}

	// .logo__content
	&__content {
		@include flex ($flex-direction: column);
	}

	// .logo__title
	&__title {

		font-family: 'BerlingskeSerif';
		font-weight: 300;
		font-size: 25px;
		line-height: 84.02%;
		text-align: center;

	}

	// .logo__text
	&__text {

		font-family: 'BerlingskeSerif';
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		text-align: center;

	}
}