//<FORM>
// Снипет (HTML):
.form {
  @include flex(space-between, center, $flex-direction: column);
  gap: 20px;

  // .form__box
  &__box {
    position: relative;
    @include flex(center);
    width: 100%;
    max-width: 630px;
  }

  // .form__input
  &__input {
  }

  // .form__label
  &__label {
  }

  // .form__wrap
  &__wrap {
    @include flex($flex-direction: column);
  }

  // .form__checkbox-input
  &__checkbox-input {
  }

  // .form__box-checkbox
  &__box-checkbox {
    @include flex($flex-direction: column);
    gap: 25px;

    margin-top: 15px;
    padding-left: 228px;
    align-self: flex-start;
    margin-bottom: 28px;

    @include media(max, xl) {
      padding-left: 0;
    }
  }

  // .form__checkbox
  &__checkbox {
  }

  // .form__text
  &__text {
  }

  // .form__link
  &__link {
  }

  // .form__box-btns
  &__box-btns {
    @include flex();
    gap: 16px;
    @include media(max, md) {
      flex-direction: column;
    }
  }

  // .form__btn
  &__btn {
  }
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
