// Заголовки, общие БЄМ блоки и проче...

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: $accentColor;
  @include media(min, xl) {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
  }
}

.subtitle {
  @include media(min, xl) {
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;

    color: $accentColor;
  }
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  color: $accentColor;

  @include media(min, xl) {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}

.span {
}

.link {
}
